.circle {
    background-color: #0070f3;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    margin: auto 4px;
    text-align: center;
    width: 20px;
}
.count {
    color: white;
    display: block;
    font-size: 0.7em;
    font-weight: bold;
}
